<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/settings/main" routerLinkActive="active">Main Settings</a></li>
    <li><a routerLink="/settings/users" routerLinkActive="active">User Settings</a></li>
    <li><a routerLink="/settings/content" routerLinkActive="active">Admin Content</a></li>
    <li><a routerLink="/settings/content/add" routerLinkActive="active">Add Content</a></li>
    <li><a routerLink="/settings/log" routerLinkActive="active">Listado de Log</a></li>
    <li><a routerLink="/settings/log/delete" routerLinkActive="active">Borrar Log</a></li>
    <li><a routerLink="/lazy" routerLinkActive="active">Carga Lazy</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
